install.conf
installlog.txt
archnikus.code-workspace
setup.conf
*.log
credentials.txt

# **/Code - OSS/*
**/User/History/
**/Service Worker/
**/CachedData/
**/Cache_Data/**

**/Code\ -\ OSS/

#albert
**/albert/core.db

**/config_dirs/obsidian/**
**/config_dirs/obsidian/*
**/config_dirs/obsidian/
configs/config_files/config_dirs/Code - OSS/Cache/Cache_Data/**
configs/config_files/config_dirs/Code - OSS/Cache/Cache_Data/*
configs/config_files/config_dirs/Code - OSS/Cache/Cache_Data/

