install.conf
installlog.txt
setup.conf
*.log
credentials.txt

# **/Code - OSS/*
**/Code\ -\ OSS/
!configs/config_files/config_dirs/Code - OSS/User/keybindings.json
!configs/config_files/config_dirs/Code - OSS/User/settings.json
*.vscbd

#albert
**/albert/core.db

**/config_dirs/obsidian/**
**/config_dirs/obsidian/*
**/config_dirs/obsidian/

